{% extends "layout.html" %}
{% block body %}
<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/">Home</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <input type="search">
                <button>Search</button>
            </div>
            <div>
                <a href="/login/" class="active">Sign in</a>
            </div>
        </div>
    </div>
    <div class="grid-item-row-2">
        <h2 class="signup-title">{{title}}: {{information}}</h2>
        <form method="post" action="/process-login/">
            <div class="form-grid">
                <label>First Name: </label><input type="text" name="firstname" required maxlength="20">
                <label>Last Name: </label><input type="text" name="surname" required maxlength="20">
                <label>Date of birth: </label><input type="date" name="DOB" maxlength="20">
                <label>Residential Address: </label><input type="text" name="residential address" placeholder="Enter your residential address" required maxlength="50">
                <label>Nationality: </label><input type="password" name="Nationality" placeholder="Enter your Nationality" required maxlength="50">
                <label>National Identification Number: </label><input type="text" name="National Identification Number" maxlength="20">
                <label>Not yet a user? </label> <a href="/signup">Sign up</a>
            </div>
        </form>
    </div>
</div>
{% endblock%}